<template>
    <div>
        <h1>Gallery!</h1>
        <div class="row row-inline">
            <template  v-for="image in images">
                <div class="col-xs-4">
                    <img class="img-responsive" :src="getImageUrl(image)">
                </div>

            </template>
        </div>
    </div>
</template>

<script>

    import {session} from '../main';



    export default {
    	data() {
    		return {
                images:[],
            }
    	},
    	created:function() {
    		this.retrieve();
    	},
    	methods:{
            getImageUrl(imageObject) {
                if(!imageObject) {
                    return;
                }

                var id = imageObject;
                if(id._id) {
                    id = id._id;
                }
                
                // console.log('OPTIONS', this.$http.defaults.baseURL);
                var url = this.$http.defaults.baseURL + '/get/' + id;

                return url + '?access_token=' + _.get(session, 'user.token');
                
            },
    		retrieve() {

                var self = this;

    			var promise = this.$http.get('/content/image');
    			promise.then(function(res) {
    				self.images = res.data;
                    
    			}, function(err) {
    				console.log('ERROR!', err);
    			})
    		}
    	}
    }
</script>

<style>
</style>
