<template>
    <div>
        <h1>Home</h1>
    </div>
</template>

<script>
    export default {
    	data() {
    		return {
                images:[],
            }
    	},
    }
</script>

<style>
</style>
