<template>
    <div>
        <div class="form-group">
        	<label>Email Address</label>
        	<input v-model="user.username" class="form-control">
        </div>
        <div class="form-group">
        	<label>Password</label>
        	<input v-model="user.password" type="password" class="form-control">
        </div>

        <button @click="submit()">Submit</button>

    </div>
</template>

<script>

import {session} from '../main';

export default {
    props:['callback'],
    data() {
      return {
         user:{
            username:'cade@hyperblaster.org',
            password:'',
        },
    }
},
methods:{
  submit() {
     var self = this;
     var promise = this.$http.post('token/login', this.user);

     promise.then(function(res) {
        console.log('LOGIN SUCCESS!', res.data, self);
        session.setUser(res.data);
    }, function(err) {
        console.log('ERROR!', err);
        session.setUser();
    })
 }
}
}
</script>

<style scoped>

label {
  color: #ff0066;
}
</style>
