<template>
    <div class="container">
        <login v-if="!session"></login>
    

    <router-view></router-view>

    </div>
</template>

<script>
	
	import {session} from './main';
	import Login from './components/Login.vue';

    export default {
    	components:{
    		login:Login,
    	},
    	computed:{
    		session:function() {
    			return session.user;
    		}
    	},
    	data() {
    		return {
    			parent:'Hello',
    		}
    	},

    }
</script>

<style>
</style>
